@import "../theme/_theme_vars";
@import "../globals/_prefs";
@import "../globals/_vars";

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: var(--lm-white0-black2);
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}
