@use "sass:map";
@import "_prefs";

section{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding-top: 80px;
	padding-bottom: 80px;
	overflow-x: hidden;
	position: relative;
	
	@media (map.get($screen, "tablet")){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	@media (map.get($screen, "mobile")){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	&:not(.glow_new){
		@media (map.get($screen, "largest")){
			min-height: 68vh;
		}
	}
}

section.dark{
	background: var(--lm-white1-black1);
}

section.gray{
	background: var(--nm-black3);
}