@import "../globals/_vars";

:root{
	--nm-black0: #{$black-0};
	--nm-black1: #{$black-1}; // formerly black
	--nm-black2: #{$black-2}; // formerly charcoal
	--nm-black3: #{$black-3}; // (formerly used as gray-section-background)
	--nm-black4: #{$black-4}; // formerly dark-gray
	
	--nm-white0: #{$white-0}; // formerly white
	--nm-white1: #{$white-1}; // formerly gray
	--nm-white2: #{$white-2};
	--nm-white3: #{$white-3};
	
	--lm-white0-black3: #{$white-0};
	--lm-white3-black3: #{$white-3};
	--lm-white2-black3: #{$white-2};
	--lm-white1-black3: #{$white-1};
	--lm-white0-black5: #{$white-0};
	--lm-white0-black0: #{$white-0};
	--lm-white0-black1: #{$white-0}; //white, soft-black [--lm-white-black]
	
	--lm-white0-black2: #{$white-0}; //white, charcoal (background-color)
	--lm-white1-black1: #{$white-1}; //gray, soft-black (hero-background, dark-section-background)
	--lm-black2-white1: #{$black-2}; //charcoal, gray (hero-title-color, subtitle-color, header-color)
	--lm-white1-black2: #{$white-1}; //gray, charcoal (footer-color)
	--lm-black1-white0: #{$black-1}; //soft-black, white (paragraph-color)
	
	--lm-black4-white0: #{$black-4}; //dark-gray, white (link-btn-background)
	--lm-white0-black4: #{$white-0}; //white, dark-gray (link-btn-foreground)
	
	--lm-white1-black4: #{$white-1}; //gray, dark-gray (card-background)
	--lm-black4-white1: #{$black-4}; //dark-gray, gray (card-foreground)
	--lm-black4-white2: #{$black-4};
	--lm-black4-white3: #{$black-4};
	--lm-black3-white3: #{$black-3};
	--lm-black2-white3: #{$black-2};
	
	--lm-glass0: #{$white-glass-0}; // (translucent-bg-color)
	--lm-glass1: #{$white-glass-1};
	
	--special-patreon: #{$patreon-color}; // (patreon-background)
	--special-community: #{$community-color}; // (community-color)
	--special-brand: #025f82; //(brand-color)
	--special-collab: darken($collab-color, 20%); // (collab-color)
	
	--border-radius: 10px;
	
	@media (prefers-color-scheme: dark) {
		--lm-white0-black3: #{$black-3};
		--lm-white3-black3: #{$black-3};
		--lm-white2-black3: #{$black-3};
		--lm-white1-black3: #{$black-3};
		--lm-white0-black5: #{$black-5};
		--lm-white0-black0: #{$black-0};
		--lm-white0-black1: #{$black-1};
		
		--lm-white0-black2: #{$black-2};
		--lm-white1-black1: #{$black-1};
		--lm-black2-white1: #{$white-1};
		--lm-white1-black2: #{$black-2};
		--lm-black1-white0: #{$white-0};
		
		--lm-black4-white0: #{$white-0};
		--lm-white0-black4: #{$black-4};
		
		--lm-white1-black4: #{$black-4};
		--lm-black4-white1: #{$white-1};
		--lm-black4-white2: #{$white-2};
		--lm-black4-white3: #{$white-3};
		--lm-black3-white3: #{$white-3};
		--lm-black2-white3: #{$white-3};
		
		--lm-glass0: #{$black-glass-0};
		--lm-glass1: #{$black-glass-1};
		
		--special-patreon: #{$patreon-color};
		--special-community: #{$community-color-light};
		--special-brand: #{$brand-color};
		--special-collab: #{$collab-color};
	}
}