@import "globals/_prefs";
@import "globals/_vars";

.section {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	background: var(--lm-white1-black1);
	min-height: 68vh;
	padding: 2rem;
	
	& > div {
		width: 100%;
		max-width: $screen_tablet;
		
		@media (querySize("desktop:large")){
			max-width: $screen_desktop;
		}
	}
}

.commitmentCard {
	color: var(--lm-black2-white1);
	font-family: "Open Sans", sans-serif;
	text-align: center;
	position: relative;
	
	h3 {
		font-size: 1.4rem;
	}
	
	p {
		letter-spacing: 1.1px;
		max-width: 360px;
		margin: 0 auto;
	}
	
	svg {
		width: 40%;
		max-width: 180px;
		margin: 0 auto;
		height: auto;
	}
}