@import "globals/_prefs";
@import "globals/_vars";

.containerSection {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem 2rem;
	
	& > * {
		width: 100%;
		max-width: $screen_tablet;
		
		@media (querySize("desktop:large")){
			max-width: $screen_desktop;
		}
	}
}

.darkContainerSection {
	@extend .containerSection;
	background: var(--lm-white2-black1);
}

.fullHeight {
	min-height: 100vh;
}