@import "globals/_prefs";
@import "globals/_vars";
@import "globals/_reusables";

.containerSection {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem 2rem;
	
	& > * {
		width: 100%;
		max-width: $screen_tablet;
		
		@media (querySize("desktop:large")){
			max-width: $screen_desktop;
		}
	}
	
	& > p {
		@extend .cleanPara;
	}
	
	& > figure {
		margin: 0;
		
		img {
			@extend .smoothShadow;
			border-radius: 3px;
			width: 100%;
		}
		
		figcaption {
			display: block;
			text-align: center;
			font-style: italic;
			color: var(--lm-black4-white3);
			padding: 8px 0;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: 0.2px;
			font-size: 0.75rem;
		}
	}
}

.darkContainerSection {
	@extend .containerSection;
	background: var(--lm-white2-black1);
}

.fullHeight {
	min-height: 100vh;
}