@import "globals/_prefs";
@import "globals/_vars";

.grid {
	display: grid;
	column-gap: 2rem;
	row-gap: 2rem;
	margin-bottom: 2rem;
	
	& > div {
		width: 100%;
	}
}

.gridCol1 {
	grid-template-columns: repeat(1, 1fr);
}

.gridCol2 {
	@extend .gridCol1;
	
	@media (querySize("mobile:medium")) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.gridCol3 {
	@extend .gridCol2;
	
	@media (querySize("tablet")) {
		column-gap: 3rem;
		row-gap: 3rem;
		grid-template-columns: repeat(3, 1fr);
	}
}

.gridCol4 {
	@extend .gridCol3;
	
	@media (querySize("desktop:large")) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.gridColAuto{
	@extend .gridCol4;
}

.centeredGrid{
	@extend .grid;
	align-items: center;
}

.gridItem {
	color: var(--lm-black2-white1);
	font-family: "Open Sans", sans-serif;
	text-align: center;
	position: relative;
	
	h3 {
		font-size: 1.4rem;
	}
	
	p {
		letter-spacing: 1.1px;
		max-width: 360px;
		margin: 0 auto;
	}
	
	& > svg {
		width: 40%;
		max-width: 180px;
		margin: 0 auto;
		height: auto;
	}
}