@import "globals/_prefs";
@import "globals/_vars";

.header {
	color: var(--lm-black1-white0);
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-bottom: 2rem;
	
	h2 {
		font-size: 2.45rem;
	}
	
	p {
		font-size: 1.125rem;
		line-height: 1.5;
		font-weight: 200;
		letter-spacing: 0.2px;
	}
	
	a {
		background: var(--lm-white3-black3);
		color: var(--lm-black1-white1);
		padding: 10px 15px;
		border-radius: 3px;
		text-decoration: none;
		
		&:hover,
		&:active,
		&:focus {
			background: var(--lm-black3-white2);
			color: var(--lm-white3-black3);
		}
	}
}