@import "globals/_prefs";
@import "globals/_vars";

.preNavBanner {
	& > p {
		font-size: 1rem;
		text-align: center;
		margin: 0;
	}
}

.nav,
.navOpen {
	height: 3.125rem;
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	transition: all 0.25s;
	padding: 0 2rem;
	background: transparent;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border-bottom: 0.3px solid transparent;
	
	& > ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0 auto;
		width: 100%;
		max-width: $screen_tablet;
		padding: 0;
		height: 3.125rem;
		transition: max-width 0.3s;
		
		@media (querySize("mobile:medium")) {
			flex-direction: row;
		}
		
		@media (querySize("desktop:large")){
			max-width: $screen_desktop;
		}
		
		& > li {
			vertical-align: middle;
			
			@media (querySize("mobile:medium")) {
				margin-right: 16px;
				padding-right: 0.25rem;
			}
			
			& a,
			& > span {
				font-size: 1.125rem;
				font-weight: 200;
				font-family: 'Open Sans', sans-serif;
				text-decoration: none;
				color: var(--lm-black1-white0);
				margin: 0;
				height: 3.125rem;
				line-height: 3.125rem;
				cursor: pointer;
				display: flex;
				align-items: center;
			}
		}
	}
}

.navOpen{
	border-color: var(--lm-black1-white0);
	height: 100vh;
	
	@media (querySize("mobile:medium")) {
		height: 4.75 * 3.125rem;
	}
}

.logoContainer {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	
	svg {
		height: calc(2.5rem - 10px);
		width: calc(2.5rem - 10px);
	}
	
	span {
		margin-left: 5px;
		pointer-events: none
	}
	
	a {
		display: inline-flex;
	}
	
	button {
		background: transparent;
		border: none;
		color: var(--lm-black1-white0);
		padding: 0;
		width: 44px;
		height: 44px;
		font-size: 1.4rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		
		@media (querySize("mobile:medium")) {
			display: none;
		}
		
		& > svg {
			width: 1em;
			height: 1em;
		}
	}
	
}

.subMenu,
.subMenuOpen {
	position: relative;
	width: 200px;
	list-style: none;
	margin: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
	max-height: 0;
	transition: all 0.3s;
	
	@media (querySize("mobile:medium")) {
		position: absolute;
		max-height: 999px;
	}
	
	& > li:first-of-type {
		display: none;
	}
	
	& > li {
		margin-left: 1rem;
		
		@media (querySize("mobile:medium")) {
			margin-left: 0;
		}
	}
}

.subMenuOpen {
	opacity: 1;
	pointer-events: auto;
	max-height: 999px;
}
