@import "globals/_prefs";
@import "globals/_vars";
@import "globals/_reusables";

.paperContentBlock {
	margin: 1rem 0;
	
	@media (querySize("mobile:medium")) {
		margin: 2rem 0 1rem;
	}
	
	@media (querySize("tablet")) {
		margin: 3rem 0 2rem;
	}
	
	@media (querySize("desktop")) {
		margin: 6rem 0;
	}
	
	header{
		
		h1{
			margin-top: 0;
			
			color: var(--nm-black5);
			font-style: normal;
			font-weight: 800;
			font-size: 36px;
			line-height: 113%;
			font-family: 'Open Sans', sans-serif;
			margin-bottom: 1.2em;
			text-transform: uppercase;
			
			span{
				color: var(--lm-black1-white0);
				display: block;
				width: 100%;
			}
			
		}
		
		h3{
			font-size: 20px;
			margin-bottom: 3em;
			margin-top: -1.2em;
			
			&.by-line{
				font-size: 18px;
				margin-bottom: 0;
			}
			
			&.date-line{
				margin-top: 5px;
				font-size: 14px;
			}
		}
		
	}
	
	h3{
		color: var(--lm-black4-white3);
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 113%;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 1.2em;
		text-transform: capitalize;
	}
	
	p, ol, ul{
		@extend .cleanPara;
		font-style: normal;
		color: var(--lm-black1-white0);
		
		margin: 2.125rem 0 0;
		max-width: 800px;
		
		ol, ul{
			margin-top: 0;
		}
	}
	
	
	//@media (querySize("tablet")) {
	//	margin: 3rem 0 1rem;
	//}
	//
	//@media (querySize("desktop")) {
	//	margin: 6rem 0;
	//}
	
}
