@import "globals/_prefs";
@import "globals/_vars";
@import "globals/_reusables";

.section {
	@extend .containerSection;
	
	background: var(--lm-white1-black1);
	min-height: 68vh;
	padding: 2rem;
}

.link{
	text-decoration: underline;
	color: var(--special-brand);
	opacity: 0.8;
	margin-top: 0.5rem;
	display: block;
	
	&:hover{
		opacity: 1;
	}
}

.previewIcon{
	position: relative;
	display: inline-block;
	width: 25%;
	padding-top: 25%;
	border-radius: 50%;
	border: transparent;
	background: var(--lm-black1-white1);
	
	& > svg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: var(--lm-white1-black1);
	}
}